#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30000">

	<property name="CLS_LOG_PATTERN"
						value="${symbol_dollar}{LOG_LEVEL_PATTERN:-%5p} ${symbol_dollar}{PID:- } --- [%t] %-40.40logger{39} : %m%n${symbol_dollar}{LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

	<springProperty scope="context" name="QCLOUD_AK"
									source="application.qcloud.ak" defaultValue="default"/>
	<springProperty scope="context" name="QCLOUD_SK"
									source="application.qcloud.sk" defaultValue="default"/>
	<springProperty scope="context" name="QCLOUD_COS_REGION"
									source="application.qcloud.cos.region"
									defaultValue="default"/>
	<springProperty scope="context" name="QCLOUD_COS_TOPIC_ID"
									source="application.qcloud.cos.topic-id"
									defaultValue="default"/>

	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<jmxConfigurator/>

	<shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${symbol_dollar}{CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="CLS"
						class="org.ylzl.qcloud.cls.logappender.logback.ClsLogbackAppender">
		<secretId>${symbol_dollar}{QCLOUD_AK}</secretId>
		<secretKey>${symbol_dollar}{QCLOUD_SK}</secretKey>
		<endpoin>${symbol_dollar}{QCLOUD_COS_REGION}</endpoin>
		<topicId>${symbol_dollar}{QCLOUD_COS_TOPIC_ID}</topicId>
		<config class="com.mobduos.qcloud.cls.producer.ProducerConfig">
			<batchSizeThresholdInBytes>2524288</batchSizeThresholdInBytes>
			<batchCountThreshold>4096</batchCountThreshold>
		</config>
		<layout>
			<pattern>${symbol_dollar}{CLS_LOG_PATTERN}</pattern>
		</layout>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="CLS"/>
	</root>

	<logger name="ch.qos.logback" level="WARN"/>
	<logger name="com.alibaba.nacos" level="WARN"/>
	<logger name="com.hazelcast" level="INFO"/>
	<logger name="com.sun" level="WARN"/>
	<logger name="com.zaxxer" level="WARN"/>
	<logger name="io.undertow" level="WARN"/>
	<logger name="io.undertow.websockets.jsr" level="ERROR"/>
	<logger name="javax.activation" level="WARN"/>
	<logger name="javax.mail" level="WARN"/>
	<logger name="javax.xml.bind" level="WARN"/>
	<logger name="liquibase" level="WARN"/>
	<logger name="LiquibaseSchemaResolver" level="INFO"/>
	<logger name="org.apache" level="WARN"/>
	<logger name="org.bson" level="WARN"/>
	<logger name="org.hibernate.engine.spi.QueryParameters" level="DEBUG"/>
	<logger name="org.hibernate" level="WARN"/>
	<logger name="org.springframework" level="WARN"/>
	<logger name="org.springframework.web" level="WARN"/>
	<logger name="org.springframework.security" level="DEBUG"/>
	<logger name="org.springframework.cache" level="WARN"/>
	<logger name="org.thymeleaf" level="WARN"/>
	<logger name="springfox" level="WARN"/>
	<logger name="sun.net.www" level="INFO"/>
	<logger name="sun.rmi" level="WARN"/>
	<logger name="sun.rmi.transport" level="WARN"/>
	<logger name="org.elasticsearch.client.RestClient" level="ERROR"/>

</configuration>
