#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30000">

	<property name="LOG_FILE_PATH" value="${symbol_dollar}{LOG_PATH:-logs}"/>
	<springProperty scope="context" name="LOG_FILE_NAME"
									source="spring.application.name" defaultValue="application"/>
	<springProperty scope="context" name="LOG_FILE_MAX_HISTORY"
									source="logging.file.max-history" defaultValue="15"/>
	<springProperty scope="context" name="LOG_FILE_MAX_SIZE"
									source="logging.file.max-size" defaultValue="20MB"/>

	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<jmxConfigurator/>

	<shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${symbol_dollar}{CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="ROLLING-FILE"
						class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${symbol_dollar}{LOG_FILE_PATH}/${symbol_dollar}{LOG_FILE_NAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${symbol_dollar}{LOG_FILE_NAME}.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
			<maxHistory>${symbol_dollar}{LOG_FILE_MAX_HISTORY}</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${symbol_dollar}{LOG_FILE_MAX_SIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${symbol_dollar}{FILE_LOG_PATTERN}</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>

	<appender name="ROLLING-FILE-ERROR"
						class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${symbol_dollar}{LOG_FILE_PATH}/${symbol_dollar}{LOG_FILE_NAME}.error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${symbol_dollar}{LOG_FILE_NAME}.error.%d{yyyy-MM-dd}.%i.zip
			</fileNamePattern>
			<maxHistory>${symbol_dollar}{LOG_FILE_MAX_HISTORY}</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${symbol_dollar}{LOG_FILE_MAX_SIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${symbol_dollar}{FILE_LOG_PATTERN}</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
	</appender>

	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>512</queueSize>
		<appender-ref ref="ROLLING-FILE"/>
	</appender>

	<logger name="${package}">
		<appender-ref ref="ROLLING-FILE-ERROR"/>
		<level value="ERROR"/>
	</logger>

	<logger name="org.springframework">
		<appender-ref ref="ROLLING-FILE-ERROR"/>
		<level value="ERROR"/>
	</logger>

	<logger name="org.ylzl">
		<appender-ref ref="ROLLING-FILE-ERROR"/>
		<level value="ERROR"/>
	</logger>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="ASYNC"/>
	</root>

	<logger name="ch.qos.logback" level="WARN"/>
	<logger name="com.hazelcast" level="INFO"/>
	<logger name="com.sun" level="WARN"/>
	<logger name="com.zaxxer" level="WARN"/>
	<logger name="io.undertow" level="WARN"/>
	<logger name="io.undertow.websockets.jsr" level="ERROR"/>
	<logger name="javax.activation" level="WARN"/>
	<logger name="javax.mail" level="WARN"/>
	<logger name="javax.xml.bind" level="WARN"/>
	<logger name="liquibase" level="WARN"/>
	<logger name="LiquibaseSchemaResolver" level="INFO"/>
	<logger name="org.apache" level="WARN"/>
	<logger name="org.bson" level="WARN"/>
	<logger name="org.hibernate.engine.spi.QueryParameters" level="DEBUG"/>
	<logger name="org.hibernate" level="WARN"/>
	<logger name="org.springframework" level="WARN"/>
	<logger name="org.springframework.web" level="WARN"/>
	<logger name="org.springframework.security" level="DEBUG"/>
	<logger name="org.springframework.cache" level="WARN"/>
	<logger name="org.thymeleaf" level="WARN"/>
	<logger name="springfox" level="WARN"/>
	<logger name="sun.net.www" level="INFO"/>
	<logger name="sun.rmi" level="WARN"/>
	<logger name="sun.rmi.transport" level="WARN"/>
	<logger name="org.elasticsearch.client.RestClient" level="ERROR"/>

</configuration>
